absl-py==0.5.0
asn1crypto==0.24.0
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.3.1
editdistance==0.4
Flask==1.0.2
funcsigs==1.0.2
gast==0.2.0
grpcio==1.12.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
lmdb==0.94
mahotas==1.4.5
Markdown==3.0.1
MarkupSafe==1.0
mkl-fft==1.0.6
mkl-random==1.0.1
more-itertools==4.3.0
numpy==1.15.3
olefile==0.46
pathlib2==2.3.2
Pillow==4.2.1
pluggy==0.8.0
protobuf==3.6.1
py==1.7.0
pycparser==2.19
pyOpenSSL==18.0.0
PySocks==1.6.8
pytest==3.9.1
requests==2.19.1
scandir==1.5
six==1.11.0
tensorboard==1.9.0
tensorboardX==1.5
tensorflow==2.9.3
termcolor==1.1.0
torch==0.4.1
torchvision==0.2.1
tqdm==4.28.1
urllib3==1.23
warpctc-pytorch==0.1
Werkzeug==0.14.1
PyYAML==3.13